<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kameleon</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Witaj, {{ name }}!</h1>
  <div id="lobby">
    <h2>Gracze w lobby:</h2>
    <ul id="playerList"></ul>
  </div>

  <div id="game" class="hidden">
    <h2 id="wordInfo">Czekaj...</h2>
  </div>

  <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
