<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kameleon – Dołącz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Kameleon 🦎</h1>
  <form id="joinForm">
    <input type="text" id="name" placeholder="Wpisz imię" required>
    <br>
    <button type="submit">Dołącz do gry</button>
  </form>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
